@use '../foundation' as *;

.l-board {
  display: none;

  @include responsive(tab) {
    width: 100vw;
    height: 100vh;
    background-color: var(--background--dark);
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 3vw;

    &__sidebar {
      width: 100%;
      height: 90vh;
      display:flex;
      flex-direction: column;
      justify-content: space-around;

      &--left {
        align-items: end;
        position: relative;
      }

      &--right {
        align-items: start;
        position: relative;
      }
    }

    &__main {
      width: 100%;
      height: 90vh;
      box-sizing: content-box;
      border: 0.5rem solid var(--white);
      position: relative;
    }
  }
}