@use '../foundation' as *;

.l-body {
  width: 100dvw;
  height: 100dvh;
  position: relative;

  &__hero {
    height: 40vh;
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -2;
  }

  &__body {
    margin-top: -40vh;
    padding-top: 40vh;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(184deg, rgba(0, 0, 0, 0), var(--background--dark) 40vh);
      z-index: -1;
    }
  }

  &__maps {
    padding-top: 5vh;
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @include responsive(tab) {
      grid-template-columns: repeat(4, 1fr);
    }

    @include responsive(pc) {
      grid-template-columns: repeat(6, 1fr);
    }

    &--selected {
      margin: 0 auto;
      width: 60%;
      position: relative;

      @include responsive(pc) {
        max-width: 20%;
      }
    }
  }

  &__operators {
    margin: 0 auto;
    padding: 0 20%;
    width: 90dvw;
    display: flex;
    justify-content: center;
    gap: 4dvw;
    position: relative;

    @include responsive(pc) {
      padding: 0;
    }
  }

  &__logo {
    margin: 5vh auto;
    height: 30vh;
    max-width: 80%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;

    &--board {
      @extend .l-body__logo;

      @include responsive(tab) {
        display: none;
      }
    }
  }

  &__menu {
    padding: 10dvh 0 5dvh 0;
    width: 30dvw;
    height: 100%;
    background-color: black;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 512;

    img {
      width: 70%;
    }

    &.is-active {
      display: flex;
    }
  }
}
