@use '../foundation' as *;

.l-footer {
  background-color: var(--background--dark);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__modalContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5vh;
  }

  &--board {
    padding-bottom: 10dvh;
    background-color: var(--background--dark);
    display: flex;
    flex-direction: column;
    align-items: center;

    @include responsive(tab) {
      display: none;
    }
  }
}