@use '../../foundation' as *;

.p-howToUse {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 512;

  &--active {
    display: block;
  }

  p {
    font-size: clamp(1em, 1.5vw, 2.5em);
    word-break: break-all;
  }

  &__maintenance {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    
    p {
      font-size: clamp(1em, 2.5vw, 4.5em);
    }
  }

  &__header {
    position: absolute;
    top: 2vh;
    left: calc(50% - 5vw);
    z-index: 513;
    .p-howToUse__pages {
      width: 10vw;
      height: 1.5rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      
      &--pageIndicator {
        width: 1vw;
        aspect-ratio: 1 / 1.5;
        border: 2px solid var(--white);
      }

      .pageIndicator--active {
        background-color: var(--white);
      }
    }
  }

  &__navs {
    padding: 0 1vw;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 540;
  }

  &__nav {
    width: 8vw;
    height: 100%;
    border-radius: 0.5rem;
    opacity: 0;
    display: flex;
    pointer-events: none;
    align-items: center;

    img {
      display: inline-block;
      width: 5vw;
      aspect-ratio: 1 / 1;
    }
  }

  .nav {
    &--left {
      justify-content: flex-start;
    }

    &--right {
      justify-content: flex-end;
    }

    &--active {
      opacity: 1.0;
      pointer-events: painted;

      &:active {
        background: rgba(255, 255, 255, 0.2);
      }   
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    //border: 1px solid white;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 536;

    &--page1 {
      align-items: flex-start;
    }

    &--page2 {
      align-items: flex-end;
      padding: 6vh 0;
    }
  }

  .pageContent--active {
    display: flex;
  }

  &__left {
    &--explanation {
      margin-left: 12%;
      display: flex;
      align-items: center;
    }

    &--zoom {
      margin-top: -7vh;
    }

    &--legend {
      margin-top: -2vh;
    }

    &--rect {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 514;

      p {
        transform: rotate(-3deg);
      }
    }
  }

  &__right {
    &--explanation {
      margin-right: 12%;
      display: flex;
      align-items: center;
    }
  }

  &__rect {
    &--legendMap {
      border: 2px solid var(--white);
      @include border-radius--col;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 515;
    }

    &--legendOperator {
      padding-right: 10vw;
      border: 2px solid var(--white);
      @include border-radius--col;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: absolute;
      z-index: 515;
    }
  }

  &__canvas {
    &--explanation {
      display: flex;
      align-items: flex-start;
      position: absolute;
      z-index: 537;
    }
  }
}