
@font-face {
  font-family: 'variableFont';
  src: url('../fonts/ZenKurenaido-Regular.ttf') format('truetype');
  unicode-range: U+3000-30FF, U+4E00-9FFF;
  size-adjust: 50%;
}

@font-face {
  font-family: 'variableFont';
  src: url('../fonts/JustAnotherHand-Regular.ttf') format('truetype');
  unicode-range: U+0000-007F;
  size-adjust: 100%;
}

html {
  background-color: var(--background--dark);

  &:has(dialog[open]) {
    overflow: hidden;
    touch-action: none;
  }
}

.base__body--canvas {
  -webkit-touch-callout: no ne;

  img {
    touch-action: none;
    -webkit-touch-callout: none;
  }
}

p {
  color: var(--white);
  font-family: var(--font--en);
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: clamp(1.2em, 2.5vw, 2.5em);
  word-break: keep-all;
}

dialog {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  border: none;
  
  &::backdrop {
    background: rgba($color: #000000, $alpha: 0.4);
  }
}
