@use '../../foundation' as *;

.c-link {
  display: flex;
  justify-content: center;

  &__logo {
    width: 30%;
    min-width: 10rem;
    display: inline-block;

    img {
      object-fit: contain;
    }
  }
}