@use '../../foundation' as *;

.c-modal {

  p {
    cursor: default;
  }

  &__close {
    &--white {
      width: 5vw;
      min-width: 3rem;
      height: 5vw;
      min-height: 3rem;
      
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      z-index: 601;
      
    }
  }

  &__setting {
    width: 30dvw;
    height: 30dvh;
    background-color: var(--background--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: calc(50% - 15vh);
    left: calc(50% - 15vw);
    z-index: 600;
  }

  &__penSetting {
    padding: 4dvh 8dvw;
    background-color: var(--background--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2vh;
    position: fixed;
    top: calc(50% - 30vh);
    left: calc(100% / 9 + 4vw);
    z-index: 600;

    &--bold {
      padding: 0.25rem;
      border: 2px solid var(--white);
      @include border-radius--col;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .c-modal__penBold {
        height: 4rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &--common {
          padding: 0.1rem;
          width: 4rem;
          height: 4rem;
          display:flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }

        &--2px {
          width: 2.5rem;
          height: 2px;
          background-color: var(--white);
          border-radius: 1px;
          transform: rotate(-45deg);
        }

        &--4px {
          width: 2.5rem;
          height: 4px;
          border-radius: 2px;
          background-color: var(--white);
          transform: rotate(-45deg);
        }

        &--8px {
          width: 2.5rem;
          height: 8px;
          border-radius: 4px;
          background-color: var(--white);
          transform: rotate(-45deg);
        }

        .js-penBoldSelected {
          border: 2px solid var(--white);
          border-radius: 0.5rem;
        }
      }
    }

    &--color {
      width: 100%;
      height: 2rem;
      border: 2px solid var(--white);
      @include border-radius--col;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;

      input {
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 616;
        cursor: pointer;
      }
    }

    &--opacity {
      width: 100%;
      height: 2rem;
      border: 2px solid var(--white);
      @include border-radius--col;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;

      p {
        cursor: pointer;
      }
      //border: 1px solid red;
    }

    .c-modal__opacity {
      height: 3rem;
      display: none;
      justify-content: center;
      align-items: center;
      background-color: var(--background--dark);
      position: absolute;
      top: 2rem;
      left: 0;
      right: 0;
      z-index: 616;
    }

    .js-opacityOpened {
      display: flex;
    }
  }

  &__eraserSetting {
    padding: 4dvh 8dvw;
    background-color: var(--background--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2vh;
    position: fixed;
    bottom: calc(50% - 30vh);
    left: calc(100% / 9 + 4vw);
    z-index: 600;

    &--bold {
      padding: 0.25rem;
      border: 2px solid var(--white);
      @include border-radius--col;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .c-modal__eraserBold {
        height: 4rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &--common {
          padding: 0.1rem;
          width: 4rem;
          height: 4rem;
          display:flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }

        &--2px {
          width: 2.5rem;
          height: 2px;
          background-color: var(--white);
          border-radius: 1px;
          transform: rotate(-45deg);
        }

        &--4px {
          width: 2.5rem;
          height: 4px;
          border-radius: 2px;
          background-color: var(--white);
          transform: rotate(-45deg);
        }

        &--8px {
          width: 2.5rem;
          height: 8px;
          border-radius: 4px;
          background-color: var(--white);
          transform: rotate(-45deg);
        }

        .js-eraserBoldSelected {
          border: 2px solid var(--white);
          border-radius: 0.5rem;
        }
      }
    }

    &--lineDelete {
      width: 100%;
      height: 2rem;
      border: 2px solid var(--white);
      @include border-radius--col;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      p {
        cursor: pointer;
      }
    }

    &--stampDelete {
      width: 100%;
      height: 2rem;
      border: 2px solid var(--white);
      @include border-radius--col;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      p {
        cursor: pointer;
      }
    }

    &--allClear {
      width: 100%;
      height: 2rem;
      border: 2px solid var(--white);
      @include border-radius--col;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      p {
        cursor: pointer;
      }
    }
  }

  &__operatorSetting {
    padding: 10dvh 5dvw;
    width: 96dvw;
    height: 96dvh;
    background-color: var(--background--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 2vh;
    left: 2vw;
    z-index: 600;

    .c-modal__operatorLists {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4%;

      .c-modal__operatorList {
        width: 48%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 1vh;

        .c-modal__selectedOperator {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          p {
            width: 5vw;
            height: auto;
            font-size: clamp(0.8em, 2vw, 2.5em);
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
          }

          img {
            width: 5vw;
            max-width: 10dvh;
            height: auto;
            background-color: var(--white);
          }

          img[alt=operator_striker] ~ .js-operatorSetting__gadgets {
            width: 26dvw;

            img {
              width: 100%;
            }
          }

          img[alt=operator_sentry] ~ .js-operatorSetting__gadgets {
            width: 26dvw;
            
            img {
              width: 100%;
            }
          }

          .js-operatorSetting__gadgets {
            width: 18dvw;
            display: flex;
            justify-content: space-between;

            .blank {
              position: relative;

              &::after {
                content: '';
                background: rgba(0, 0, 0, 0.5);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 616;
              }
            }
          }

          .js-selectedGadget {
            border: 4px solid var(--white);
            //@include border-radius--col;

          }
        }

        .c-modal__changeOperator {
          width: 100%;
          display: flex;
          align-items: center;

          button {
            padding: 0;
          }

          img {
            width: 5vw;
            max-width: 10dvh;
            height: auto;
          }
        }
      }
    }
  }

  &__iconSetting {
    width: 96dvw;
    height: 96dvh;
    padding-right: 7dvw;
    background-color: var(--background--dark);
    display: grid;
    grid-template-columns: 1fr 7fr;
    justify-items: center;
    align-items: start;
    gap: 2dvw;
    position: fixed;
    top: 2dvh;
    left: 2dvw;
    z-index: 612;

    &--left {
      padding-top: 2dvh;
      width: 100%;
      height: 96dvh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .c-modal__selectedIconList {
        width: 100%;
        height: 80dvh;
        padding: 1dvh 0;
        border: 2px solid var(--white);
        @include border-radius--col;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;

        p {
          @include responsive(pc) {
            //font-size: 1.5em;
          }
        }

        .c-modal__selectedIcon {
          width: 60%;
          max-width: 10dvh;
          height: auto;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;

          .counter {
            width: 3dvw;
            aspect-ratio: 1 / 1;
            background: center / contain no-repeat url(../image/materials/magnet_red.png);
            display: flex;
            justify-content: center;
            align-content: center;
            position: absolute;
            top: calc((1dvh + 1dvw) * -1);
            right: calc(2dvw * -1);
            z-index: 8;
            pointer-events: none;

            p {
              margin-top: 4px;
              margin-left: 2px;
              color: var(--white);
              font-size: clamp(0.8em, 2svw, 2em);
              text-shadow: 0 0 3px black;
            }
          }
          /*
          img {
            max-width: 80%;
            max-height: 80%;
            aspect-ratio: 1 / 1;
          }
          */
          p {
            color: var(--white);
            text-align: center;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 616;
          }
        }
      }

      .c-modal__return {
        padding: 5%;
        width: 80%;
        height: 16dvh; //16%

        img {
          width: 60%;
          max-width: 6dvh;
          aspect-ratio: 1 / 1;
          height: auto;
        }
      }
    }

    &--right {
      padding: 2dvh 0;
      width: 100%;
      height: 96dvh;
      border: 2px solid var(--white);
      @include border-radius--col;
      display: flex;
      flex-direction: column;
      //justify-content: space-around;
      align-items: center;
      gap: 2dvh;

      p {
        font-size: clamp(1.2em, 2.5vw, 2.5em);
        word-break: keep-all;
      }

      .c-modal {

        &__icons {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(3rem, 8vw));
        justify-content: center;
        }

        &__icon {
          width: 100%;
          position: relative;
          
          img {
            width: 16dvh;
            aspect-ratio: 1 / 1;
            display:inline-block;
          }

          .counter {
            width: 3dvw;
            aspect-ratio: 1 / 1;
            background: center / contain no-repeat url(../image/materials/magnet_red.png);
            display: flex;
            justify-content: center;
            align-content: center;
            position: absolute;
            top: calc(1dvw * -1);
            right: -5%;
            z-index: 8;
            pointer-events: none;

            p {
              margin-top: 4px;
              margin-left: 2px;
              color: var(--white);
              font-size: clamp(0.8em, 2svw, 2em);
              text-shadow: 0 0 3px black;
            }
          }
        }
      }
    }
  }

  &__stamp {
    width: 96dvw;
    height: 96dvh;
    padding: 2dvh 7dvw 2dvh 2dvw;
    background-color: var(--background--dark);
    display: flex;
    flex-wrap: wrap;
    //justify-content: center;
    justify-content: space-around;
    align-items: center;
    column-gap: 2dvw;
    position: fixed;
    top: 2dvh;
    left: 2dvw;
    z-index: 600;

    .c-modal__stampGroup {
      margin-bottom: 2dvh;
      display: flex;
      flex-direction: column;

      p {
        margin-bottom: 0.5dvh;
      }

      .c-modal__stamps {
        display: flex;
        gap: 1.2dvh;

        img {
          width: 5dvw;
          min-width: 2.5rem;

        }
      }
    }
  }

  &__mapSetting {
    width: 96dvw;
    height: 96dvh;
    padding: 2dvh 5dvw 2dvh 5dvw;
    background-color: var(--background--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2dvh;
    position: fixed;
    top: 2dvh;
    left: 2dvw;
    right: 2dvw;
    bottom: 2dvh;
    z-index: 600;

    .c-modal__mapTable {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 23%);
      justify-content: center;
      align-items: center;
      gap: 2dvh;

      .c-modal__map {
        width: 100%;
        max-width: 28dvh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__floorSetting {
    padding: 4dvh 8dvw;
    background-color: var(--background--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: calc(50% - 30dvh);
    right: calc((100% / 9) + 4dvw);
    z-index: 600;

    .c-modal__floorList {
      display: flex;
      flex-direction: column-reverse;
      gap: 2dvh;

      button {
        width: 100%;
        //border: 1px solid #fff;

        p {
          padding: 2vh 2vw;
        }
      }
    }
  }
}