@use '../../foundation' as *;

//スクロールバーによる背景のがたつきを直す
.c-modal {
  @include background--stickeyNote;

  &::-webkit-scrollbar {
    display: none;
  }

  &--whatsSite {
    width: 90vw;
    height: 80vh;
    box-shadow: 2px 2px 4px #000;
    position: fixed;
    top: 10vh;
    left: 5vw;
    z-index:1;
  }

  &--operator {
    width: 90vw;
    height: 80vh;
    box-shadow: 2px 2px 4px #000;
    position: fixed;
    top: 10vh;
    left: 5vw;
    z-index:1;
  }
    

  &--stickeyNote {
    @include background--stickeyNote;
  
    .c-modal__header {
      width: 90vw;
      //height: 18vh;
      padding-top: 4vh;
      @include background--stickeyNote;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3vh;
      position: fixed;
      top: calc(10vh - 2px);
      left: 5vw;
      z-index: 16;

      .c-modal__magnet {
        width: 5vh;
        height: auto;
        filter: drop-shadow(2px 2px 2px black);
      }

      .c-modal__close {
        &--black {
          width: 3rem;
          height: auto;
          position:absolute;
          top: 1rem;
          right: 2vw;
          z-index: 4;
        }
      }

      p {
        margin-bottom: 2vh;
        color: var(--black);
        transform: rotate(2deg);
      }
    }

    .c-modal__container {
      width: 100%;
      height: 100%;
      @include background--stickeyNote;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4vh;

      &--whatsSite {
        padding: 20vh 5% 5% 5%;
        align-items: flex-end;

        p {
          color: var(--black);
          word-break: break-all;
        }
      }

      &--operator {
        padding: 20vh 5% 5% 5%;
        align-items: center;
      }
    }
  }
}