@use '../../foundation' as *;

.c-map {
  width: 100%;
  aspect-ratio: 4 / 3;
  display: block;
  position: relative;

  @include responsive(pc) {
    &:hover {
      transform: rotate(-3deg);
    }
  }

  &__frame {
    border: 0.5rem solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
  }

  &:before {
    content: '';
    background: top / cover no-repeat url(../image/materials/picture_texture.jpg);
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
  }

  &:after {
    content: '';
    width: 10%;
    aspect-ratio: 1 / 1;
    background: top / contain no-repeat url(../image/materials/magnet_black.png);
    filter: drop-shadow(2px 2px 2px black);
    position: absolute;
    top: 5%;
    left: calc(50% - 5%);
    z-index: 16; 
  }

  &__shadow {
    filter: drop-shadow(4px 4px 4px black);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    

    &--object {
      background-color: black;
      clip-path: polygon(0 0, 98% 0, 100% 100%, 0 100%);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
    }
  }

  &__active {
    padding-top: 50%;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 12;

    p {
      color: var(--white);
      font-size: 1em;
      display: none;
    }
  }

  &:active {
    &:after {
      background: top / contain no-repeat url(../image/materials/magnet_red.png);
    }

    .c-map__active {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 70%, black);

      p {
        display: block;
        font-size: clamp(1em, 1.5vw, 2.5em);
        word-break: keep-all;
      }
    }
  }

  @include responsive(pc) {
    &:hover {
      &:after {
        background: top / contain no-repeat url(../image/materials/magnet_red.png);
      }

      .c-map__active {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 70%, black);

        p {
          display: block;
          font-size: clamp(1em, 1.5vw, 2.5em);
          word-break: keep-all;
        }
      }
    }
  }

  &--selected {
    display:flex;
    justify-content: center;
    align-items: center;

    &:after {
      content: '';
      width: 5vw;
      height: 5vw;
      background: top / contain no-repeat url(../image/materials/magnet_red.png);
      position: absolute;
      top: 5%;
      left: calc(50% - 2.5vw);
      z-index: 16; 
    }
  }

  .c-map__name {
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: end;
    align-items: end;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 12;

  p {
    color: var(--white);
    font-size: 3em;
    transform: rotate(4deg);

    @include responsive(pc) {
      font-size: clamp(1em, 3vw, 4em);
      word-break: keep-all;
    }
  }

  }
}

/*
z-index memo
-1: body__background
0: map__shadow
2: map__frame
4: map(picture)
8: texture
12: active(mapname)
16: magnet
*/