@use '../../foundation' as *;

.c-operator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;

    .c-operator__icons {
      margin: 2px;
      padding: 8%;
      border: 2px solid var(--white);
      @include border-radius--col;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4%;

      @include responsive(pc) {
        padding: 4%;
        flex-direction: row;
      }

      &:hover {
        margin: 0;
        border-width: 4px;
      }

      .c-operator__icon {
        width: 10vh;
        aspect-ratio: 1 / 1;
        background-color: var(--white);
        position: relative;
        transform: rotate(-2deg);
        transform-origin: top right;

        @include responsive(pc) {
          width: 20%;
          max-width: 8vw;
        }

        &:before {
          content: '';
          width: 100%;
          height: 100%;
          background: center / cover no-repeat url(../image/materials/paper_texture.png);
          position: absolute;
          top: 0;
          left: 0;
          z-index: 4;
        }

        &:after {
          content: '';
          width: 20%;
          aspect-ratio: 1 / 1;
          background: center / contain no-repeat url(../image/materials/magnet_black.png);
          position: absolute;
          top: 0.2rem;
          right: 0.2rem;
          z-index: 8;
        }

        &--filled {
          &:after {
            background: center / contain no-repeat url(../image/materials/magnet_red.png);
          }
        }

        img {
          width: 100%;
          aspect-ratio: 1 / 1;
        }
      }
    }
  }

  &--modal {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 4rem);
    gap: 0.5rem;
    justify-content: center;

    @include responsive(pc) {
      grid-template-columns: repeat(auto-fit, 8rem);
    }

    .c-operator__icon--modal {
      width: 4rem;
      background-color: var(--white);
      position: relative;

      @include responsive(pc) {
        width: 8rem;
      }

      img {
        width: 100%;
        aspect-ratio: 1 / 1;
      }

      .selected {
        width: 2rem;
        height: 2rem;
        background: center / contain no-repeat url(../image/materials/magnet_red.png);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -0.4rem;
        right: -0.4rem;
        z-index: 8;
        pointer-events: none;

        p {
          margin-top: 4px;
          margin-left: 2px;
          color: var(--white);
          font-size: 1.7em;
          text-shadow: 0 0 3px black;
        }
      }
    }
  }
}